.button {
-fx-background-color : transparent;
-fx-text-fill : #e7e5e5;
}
/*
243032 default button
10165F
243032
05071F
1620A1
*/
.button:hover{
-fx-background-color : #47D298;
}
.button:pressed
{
-fx-background-color : #009DCE;
}

.scroll-pane {
    -fx-background-color: #FFFFFF;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #9ea5ff;
    -fx-background-radius: 5em;
}
/*#10165F*/

.scroll-pane > .corner {
    -fx-background-color: black;
}

/* Table */
.btn:hover{
    -fx-cursor:hand ;
}
.table-view {
    -fx-background-color: #4698D3;
    -fx-background-radius: 5;
    }

.table-view .column-header-background{
        -fx-background-color: #4698D3;
        -fx-background-radius: 5;
        -fx-background-insets: 0 0 10 0;
    }

.table-view .column-header, .table-view .filler{
        -fx-size: 40px;
        -fx-border-width: 0 0 10 0;
        -fx-background-color: transparent;
    }

.table-view .column-header .label {
        -fx-text-fill: white ;
        -fx-alignment: CENTER;
    }